* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

#container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #385898;
}

header h1 {
    text-align: center;
    color: white;
    padding: 5px 0; 
}

/* Main */

main {
    background-color: #b3abab;
}

.firstPhoto img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.popisekKobrazku {
    margin: 5px auto 20px auto;
    border: 2px solid black;
    width: 370px
}

.line1 {
    padding-top: 10px;
}

main p {
    color: black;
    text-align: justify;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

main h2 {
    margin-top: 10px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
}

main ul {
    margin: 10px 10px 10px 20px;
}

main ul li {
    margin-top: 10px;
    font-size: 20px
}

.secondPhoto img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

/* Footer */

footer {
    background-color: #6b94e7;
}

footer h2 {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-align: center;
}

footer p {
    margin: 0 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 23px;
}

.endText {
    text-align: center;
    color: #000000;
}

footer h1 {
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: red;
}